<!--masthead.html-->

<h1 class="fw-bold">
    {% if title %}
        <h1 class="text-center mb-5">{{ post.title }}</h1>
    {% else %}
        <textarea name="title" id="blogPostTitle" class="custom-title-input" placeholder="Blog Post Title" required
        autofocus></textarea>
    {% endif %}
</h1>
<div class="header-meta">
    <div class="author-info">
        {% if author %}
            <span>Author: {{ author }}</span>
        {% else %}
            <span>Author: {{ post.author.username }}</span>
        {% endif %}
    </div>
    {% if datetime %}
        <span class="text-muted published-date">Published at: {{ datetime|date:"F j, Y H:i:s" }} GMT+8</span>
    {% else %}
        <span class="text-muted published-date" id="publishedDate"></span>
    {% endif %}
</div>
<hr>