<nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}">
                <i class="bi-back"></i>
                <span>WitsNote</span>
            </a>

            <div class="d-lg-none ms-auto me-4">
                <a href="#top" class="navbar-icon bi-person smoothscroll"></a>
            </div>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-lg-5 me-lg-auto">
                    <li class="nav-item">
                        <a class="nav-link click-scroll" href="{% url 'home' %}">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link click-scroll" href="{% url 'blog_post_home' %}">Browse Topics</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link click-scroll" href="{% url 'home' %}#section_3">How it works</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link click-scroll" href="{% url 'home' %}#section_4">FAQs</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link click-scroll" href="{% url 'home' %}#section_5">Contact</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarLightDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">Pages</a>

                        <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
                            <li><a class="dropdown-item" href="{% url 'topic_listing' %}">Topics Listing</a></li>

                            <li><a class="dropdown-item" href="{% url 'contact' %}">Contact Form</a></li>
                        </ul>
                    </li>
                </ul>

                {% if user.is_authenticated %}
                <div class="d-none d-lg-block">
                    <a href="{% url 'user_profile' %}" class="navbar-icon bi-person smoothscroll"
                        title="Your Profile"></a>
                </div>
                &nbsp;
                &nbsp;
                &nbsp;
                <a href="{% url 'create_post' %}"
                    class="btn custom-btn d-flex align-items-center justify-content-center px-4 py-2 rounded-pill shadow fs-5 fw-semibold"
                    role="button" aria-label="Create New Post">
                    Create New Post
                </a>
                {% else %}
                <div class="d-none d-lg-block">
                    <a href="{% url 'login' %}" class="navbar-icon bi-person smoothscroll" title="Login"></a>
                </div>
                &nbsp;
                &nbsp;
                &nbsp;
                <a href="{% url 'login' %}"
                    class="btn custom-btn mt-3 d-flex align-items-center justify-content-center px-4 py-2 rounded-pill shadow fs-5 fw-semibold"
                    role="button" aria-label="Create New Post">
                    Create New Post
                </a>
                {% endif %}
            </div>
        </div>
    </nav>