[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-extensions = "*"
argon2-cffi = "*"
django-environ = "*"
cryptography = "*"
transformers = "*"
torch = "*"
django-phonenumber-field = {extras = ["phonenumberslite"], version = "*"}
pytesseract = "*"
pillow = "*"
mysqlclient = "*"
django = "==5.0"

[dev-packages]

[requires]
python_version = "3.12"
