/* Custom styles for loading spinners and output areas */
.spinner-border {
    margin-left: 10px;
}

.generated-output {
    border: 1px solid #e9ecef;
    padding: 15px;
    border-radius: 0.25rem;
    background-color: #f8f9fa;
}

body#top{
    /* background-color: #17587d; */
    background-image: linear-gradient(to bottom right, #17587d, #80d0c7);
}



/* Custom styles for centering the main content and aligning header elements
        body {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            Align to the top 
            min-height: 100vh;
            Ensure it takes full viewport height 
            background-color: #f8f9fa;
            Light background for the page 
        }*/

.container.my-5 {
    max-width: 800px;
    /* Limit the width of the content for better readability */
    width: 100%;
    /* Ensure it's responsive */
    padding: 40px 15px;
    /* Add some padding on smaller screens */
    background-color: white;
    box-shadow:  30px 30px 1px rgba(255, 255, 255, 0.8);
    border: 3px solid whitesmoke;
}

.header-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    /* Space below the header meta */
}

.header-meta .author-info {
    flex-grow: 1;
    /* Allow author info to take available space */
    text-align: left;
}

.header-meta .published-date {
    text-align: right;
    white-space: nowrap;
    /* Prevent date from wrapping */
}

textarea.form-control-plaintext {
    resize: none;
    overflow: hidden;
    min-height: 20px;
    max-height: none;
    /* Minimum height for the textarea */
    line-height: 1.6;
    /* Adjust line height for readability */
    box-sizing: border-box;
    /* Include padding and border in the element's total width and height */
    text-align: justify;
    text-indent: 2em;
}

.custom-title-input{
    text-shadow: 1px 2px 1px black;
}

.custom-title-input:active{
    text-shadow: none;
}

#blogPostTitle{
    text-indent: 0em;
}

footer{
    background-color: white;
}

/* .mb-4 h2{
    color: rgba(0, 0, 0, 0.8);
} */